os:
  - linux
#  - osx
dist: trusty
sudo: required
language: python
cache: pip
python:
  - "2.7"
  - "3.6"

install:
  - ./.travis/install.sh

script:
  - ./.travis/build.sh

cache:
  - directories:
    - $HOME/.build_cache
    - $HOME/.ccache

env:
  - PB_VERSION=2.6.1 ONNX_BRANCH=master
  - PB_VERSION=2.6.1 ONNX_BRANCH=rel-1.1.2
